
<!-- Navigation Bar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <!--
  <div class="closed-box"><%= link_to image_tag("genesys_logo_blue.png", :class => "logo pull-left"), '/pages/home' %></div>
  <div class="open-box"><%= link_to image_tag("genesys_logo_white.png", :class => "logo pull-left"), '/pages/home' %></div>
  -->
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <!-- brand -->
      <!--
      <a class="navbar-brand"><span id="span-brand pull-left">eneSYS</span></a>
<%= link_to("Curl", root_path, {:class => 'navbar-toggle toggle-left hidden-md hidden-lg', 'data-toggle' => 'sidebar', 'data-target' => ".sidebar-left"} )%>

      -->

      <div class="navbar-brand pull-left">
        <%= link_to "Curl", root_path, {:class => '', 'onclick' => 'openNav()'}%>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="navbar" class="navbar-collapse collapse">
      <!-- Left nav buttons -->
      <ul class="nav navbar-nav navbar-searchbar">

        <%= form_tag(dashboard_index_path, :method => "get", id: "search-form") do %>
        <div class="input-group searchbar">

          <!-- TODO format, add search_post_name boolean? -->
            <div class="input-group-btn">
              <%= button_tag(type: 'submit', class: 'btn btn-default') do %>
                <span class="glyphicon glyphicon-search"></span>
              <% end %>
            </div>
            <%= text_field_tag :starts_with, params[:starts_with], placeholder: "Search . . .", class: "form-control" %>

          <!--
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
          -->


        </div><!-- /input-group -->
        <% end %>
        <!--
        <li class="active"><%= link_to 'Home', root_path, {:class => 'btn btn-default navbar-btn'} %>
        <li><%= link_to 'About', '/pages/about', {:class => 'btn btn-default navbar-btn'} %></li>
        -->
      </ul>
      <!-- Right nav buttons -->
      <ul class="nav navbar-nav navbar-right">
        <li>
    			<% if !user_signed_in? %>
            <%= link_to('Login', new_user_session_path, :class => 'btn btn-default navbar-btn') %>
          <% else %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => 'btn btn-default navbar-btn') %>
          <% end %>
        </li>
        <!-- make these links only visable to mobile devices with visible-xs bootstrap class -->
        <li> <%= link_to "Dashboard", dashboard_index_path, :class => 'btn btn-default navbar-btn visible-xs' %> </li>

            <% if current_user %>
            <li> <%= link_to "New Post", new_post_path, :class => 'btn btn-default navbar-btn visible-xs' %> </li>

              <li> <%= link_to "My Profile", myprofile_index_path, :class => 'btn btn-default navbar-btn visible-xs' %> </li>

              <li> <%= link_to "Groups", groups_path, :class => 'btn btn-default navbar-btn visible-xs' %> </li>

              <li> <%= link_to "Friends", friends_path, :class => 'btn btn-default navbar-btn visible-xs' %> </li>

            <% end %>

            <li> <%= link_to "Tags", tags_path, :class => 'btn btn-default navbar-btn visible-xs' %> </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
 <!-- End of Navigation Bar -->
