<% posts.each do |post| %>
<!-- This is a card partial, but rendering partials is slower than doing this -->
<div class="card tab-item" id="post-<%=post.id%>">
	<div class="card-img-top">

    <div class="overlay">
      <div class="media card-delete">
        <%= link_to post_path(post) do %>
            <span class="glyphicon glyphicon-eye-open pull-left"></span>
        <% end %>
      </div>
      <div class="text"> 
        <%= post.description %>
      </div>
    </div>

		<div class="card-img-container">
			<%= link_to image_tag(post.thumbnail_image), post_path(post), :class => "card-img"%>
		</div>
	</div>
	<div class="card-block">
		<h4 class="card-title">
			<%= link_to post.name, post_path(post)%>
		</h4>
		
		<p class="card-text">
			<%= post.rating %>
		</p>
		<p class="card-text">
			<small class="text-muted"> <%= "#{post.submit_time_diff} by #{post.poster}" %></small>
		</p>
		</p>
	</div>
</div>
<!-- end card -->
<% end %>
