<% posts.each do |post| %>
<!-- This is a card partial, but rendering partials is slower than doing this -->
<div class="card tab-item" id="post-<%=post.id%>">
	<div class="card-img-top">
		<div class="card-img-container">
			<%= link_to image_tag(post.thumbnail_image), :class => "card-img"%>
		</div>
	</div>
	<div class="card-block">
		<h4 class="card-title">
			<%= link_to post.name, post_path(post)%>
		</h4>
		<p class="card-text">
			<%= link_to "Go to Link", post.url %>
		</p>
		<% if false %>
		<p class="card-text">
			<%= post.description %>
		</p>
		<% end %>
		<div class="stars" >
              <form action="">
	                <input class="star star-5" id="star-5" type="radio" name="star" disabled="true" value="5"/>
                      <label class="star star-5" for="star-5"></label>
                    <input class="star star-4" id="star-4" type="radio" name="star" disabled="true" value="4"/>
                      <label class="star star-4" for="star-4"></label>
                    <input class="star star-3" id="star-3" type="radio" name="star" disabled="true" value="3"/>
                      <label class="star star-3" for="star-3"></label>
                    <input class="star star-2" id="star-2" type="radio" name="star" disabled="true" value="2"/>
                      <label class="star star-2" for="star-2"></label>
                    <input class="star star-1" id="star-1" type="radio" name="star" disabled="true" value="1"/>
                      <label class="star star-1" for="star-1"></label>
              </form>
        </div>
		<!--<p class="card-text">
			<%= post.rating %>
		</p>-->
		<p class="card-text">
			<small class="text-muted"> <%= post.submit_time_diff %> </small>
		</p>
	</div>
</div>
<!-- end card -->
<% end %>
