<div id="dashboard" class="dashboard">
	<!-- TODO overflowing cards -->
	<ul class="nav nav-pills dashboard-tabs">
		<li class="nav-item active">
			<%= link_to "All", dashboard_index_path %>
		</li>
		<% tags.each do |tag| %>
			<li class="nav-item <%=current_page?(dashboard_index_path(tag_id: tag.id)) ? 'active' : ''%>" id="tag-<%=tag.id%>">
				<%= link_to "#{tag.capital_name}", dashboard_index_path(tag_id: tag.id) %>
			</li>
		<% end %>
  </ul>
  <%= render "dashboard/tab", :posts => @posts %>
</div>

