<div class="login">
<div class="login-container">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6">
        <a class="login-tab" href="/users/sign_in" id="login-form-link">LOG IN</a>
      </div>
      <div class="col-xs-6">
        <a class="login-tab" href="/users/sign_up" id="register-form-link">REGISTER</a>
      </div>
    </div>
    <hr>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="login-form">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
          <div class="field-label">
            <%= f.label :username %><br />
          </div>
            <%= f.text_field :username, autofocus: true %><br />
          <div class="field-label">
            <%= f.label :email %><br />
          </div>
            <%= f.email_field :email %>
          </div>
          </div>

          <div class="field">
          <div class="field-label">
            <%= f.label :password %>
          </div>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
          </div>

          <div class="field">
          <div class="field-label">
            <%= f.label :password_confirmation %><br />
          </div>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
          <% end %>
                
        </div>
      </div>
    </div>
  </div>
</div>
</div>



