<!-- Sidebar -->
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">

		<!--
		<li class="sidebar-searchbar">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="Search for...">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">Go!</button>
	      </span>
	    </div>
		</li>
		-->

		<!--
		<li class="sidebar-brand">
			<a href="#">
				Start Bootstrap
			</a>
		</li>
		-->
		<br></br>
		<li>
			<%= link_to "Dashboard", dashboard_index_path %>
		</li>
    <% if current_user %>
    <li>
      <%= link_to "New Post", new_post_path %>
    </li>
		<li>
			<%= link_to "My Profile", myprofile_index_path %>
		</li>
		<li>
			<%= link_to "Groups", groups_path %>
		</li>
		<li>
			<%= link_to "Friends", friends_path %>
		</li>
    <% end %>
	</ul>

</div>
<!-- /#sidebar-wrapper -->
