
<div class="container friends-container">
    <div class="row">
        <div class="col-md-10">
            <div class="jumbotron">
                <h1>Users!</h1>
                <ul>
                <% current_user.strangers.each do |user| %>
                  <li>
                    <%= link_to "Add " + user.email, friendships_path(friend_id: user), method: :post %>
                  </li>
                <% end %>
                </ul>

                <h1>Friend requests!</h1>
                <ul>
                <% current_user.pending_requests.each do |request| %>
                    <li>
                      <%= request.sender.email %>
                      <%= link_to "Accept",  friendship_path(id: request.id), method: :put %>
                      <%= link_to "Decline", friendship_path(id: request.id), method: :delete %>
                    </li>
                <% end %>
                </ul>
            </div>

        </div>
        <!--/span-->
        <div class="col-md-2 friends-sidebar-container">
            <div class="friends-sidebar">
                <div class="well">
                    <ul class="nav ">
                        <h4>Friends!</h4>
                        <% current_user.friends.each do |friend| %>
                            <li>
                            <%= friend.email %>
                            </li>
                        <% end %>

                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/sidebar-nav-fixed -->
        </div>
        <!--/span-->
    </div>
    <!--/row-->
</div>
<!--/.fluid-container-->
