<%= form_for post do |f| %>
  <!-- display any errors -->
  <%= link_to '', :back, {:class => 'glyphicon glyphicon-circle-arrow-left'} %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message.to_s %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form id="survey-form" class="main-form">

    <div class="survey-section mat-shadow">
      <h2 class="sub-header">New Post</h2>


      <table class="profile-table">
        <tbody>

          <!-- Validate user input -->
          <tr>
            <td colspan="3">
              <input class="input" type="hidden" name="_csrf" value="csrfTokenGoesHereFromServer">
            </td>
          </tr>

          <tr>
            <td colspan="2">
            <div class="form-group">
              <%= f.text_field :name, class: "form-control", placeholder: "Title", :required => true %>
              </div>
              </tr>

            <td colspan="2">
              <div class="form-group">
              <%= f.text_field :url, class: "form-control", placeholder: "Link", :required => true %>
              </div>
          </tr>

          <tr>
            <td colspan="2">
             <div class="stars">
                 <form action="" >
                    <input class="star star-5" id="star-5" type="radio" name="post[rating]" value="5" required/>
                      <label class="star star-5" for="star-5"></label>
                    <input class="star star-4" id="star-4" type="radio" name="post[rating]" value="4"/>
                      <label class="star star-4" for="star-4"></label>
                    <input class="star star-3" id="star-3" type="radio" name="post[rating]" value="3"/>
                      <label class="star star-3" for="star-3"></label>
                    <input class="star star-2" id="star-2" type="radio" name="post[rating]" value="2"/>
                      <label class="star star-2" for="star-2"></label>
                    <input class="star star-1" id="star-1" type="radio" name="post[rating]" value="1"/>
                      <label class="star star-1" for="star-1"></label>
                  </form>
                </div>
            </td>
          </tr>

          <tr>
            <td colspan="2">
            <div class="form-group">
                <div class="btn-group" data-toggle="buttons">
                 <% Tag.default_tags.each do |tag| %>
                    <label class="btn btn-primary">
                       <%= radio_button_tag 'default_tag', tag, false, class: "btn btn-default", :required => true %>
                       <%= tag %>
                   </label>
                 <% end %>
                 </div>
                 <%= text_field_tag 'tags', nil, class: "form-control", placeholder: "Additional tags . . ." %>

            </td>
            </div>
          </tr>

          <tr>
            <td colspan="2">
            <div class="form-group">
             <%= f.text_area :description, class: "form-control", rows: "10", placeholder: "Your thoughts"%>
            </td>
            </div>
          </tr>

           <tr>
            <td colspan="2">
            <div class="form-group actions">
             <%= f.submit "Create Post", class: "btn btn-primary" %>
            </td>
            </tr></tbody>
            </table>
            </div>
            </form>
<% end %>
