<!-- TODO this post part is pretty ugly -->
<div class="media">
  <div class="media-body">
    <h2 class="media-heading">
	  <%= post.name %>
	</h2>
    </br>
    <!-- embedded stuff -->
    <%= post.embedded_html %>
    <!-- end embedded stuff -->
    </br>

	<%= post.description %>
	</br>
	<%= link_to post.url, post.url %>
	</br>
	<p> <%= "#{post.submit_time_diff} by #{post.poster}" %> </p>

  </div>
</div>


<div class="container">
  <div class="post-comments">

    <%= render 'comments/form', post: post, comment: Comment.new %>
    <% post.comments.each do |comment| %>
      <div class="media">
        <%= comment.username %>

        <div class="media-body">
          <p> <%= comment.description %> </p>
        </div>
      </div>
    <% end %>

  </div>
  <!-- post-comments -->
</div>
