<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1"><meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Genesys</title>
   <!-- Links -->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- End of Links -->
  </head>

  <body>
  
  <%= render "navbar/navbar" %>

  <div id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
      <%= render "sidebar/sidebar" %>
    </div>

    <div id="page-content-wrapper">

      <div class="container=fluid">
        <% if notice %>
          <div class="alert alert-success"><%= notice %></div>
        <% end %>
        <% if alert %>
          <div class="alert alert-danger"><%= alert %></div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </div>

    <%= yield %>
  </body>
<div class="container text-center">
<p class="text-muted credit">© <%= Date.today.year %> Genesys </p>
</div>

</html>
